<div ng-controller="PredictorsController" class="container" id="predictor">
	<div class="searchBox" layout="row" layout-align="start center" layout-wrap>
		<!-- Name -->
		<md-input-container>
			<label>Name</label>
			<input ng-model="search.name">
		</md-input-container>
		<!-- Title -->
		<md-input-container>
			<label>Title</label>
			<input ng-model="search.title">
		</md-input-container>
		<!-- Search button -->
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="onSearch(search.name, search.title)"><span class="glyphicon glyphicon-search"></span> Search </button>
		</span>
	</div>
	<div ng-repeat="predictor in showedPredictors" class="predictorView">
		<h4>{{predictor.commonName}}</h4>
		<h5>{{predictor.description}}</h5>
		<div class="actionBar">
			<button type="button" class="btn btn-default btn-info" ng-click='showPredictorDetail($event, predictor)'>
				<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Detail
			</button>
			<button type="button" class="btn btn-default btn-warning">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Report
			</button>
			<button type="button" class="btn btn-default btn-danger" ng-click="removePredictor($index)">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
			</button>
		</div>
	</div>
</div>