<div class="news">
	<!-- news content -->
	<div class="newsContent">
		<h2 ng-bind='news.headline'></h2>
		<h4 ng-bind='news.content'></h4>
		<div class="row">
			<div class="col col-xs-12 col-sm-6">
				<h6>Date: {{news.date}}</h6>
			</div>
			<div class="col col-xs-12 col-sm-6">
				<h6>Author: {{news.author}}</h6>
			</div>
		</div>
	</div>

	<div class="reviewList">
		<div ng-repeat='review in reviews' class="review">
			<div class="row">
				<h4 class="col col-xs-12">Predictor: {{review.predictor.commonName}}</h4>
				<h4 class="col col-xs-12">Asset: {{review.asset.assetName}}</h4>
				
				<h5 class="col col-xs-12 col-sm-6">Prediction: {{getPrediction(review)}}</h5>
				<h5 class="col col-xs-12 col-sm-6">Duration: {{review.time}}</h5>
				<h5 class="col col-xs-12 col-sm-6">Target Price: {{review.targetPrice}}</h5>

				<h5 class="col col-xs-12">Remarks: {{review.remarks}}</h5>

				<h5 class="col col-xs-12 col-sm-6">Reviewer: {{review.user.email}}</h5>
				<h5 class="col col-xs-12 col-sm-6">Time: {{review.timeStamp | date}}</h5>
			</div>

			<button type="button" class="btn btn-default" ng-click='upVote(review)'>
					<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Agree: {{review.upVote}}
			</button>
			<button type="button" class="btn btn-default" ng-click='downVote(review)'>
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Disagree: {{review.downVote}}
			</button>
		</div>
	</div>
</div>

<div ng-show="state === 'view'" class="container topicContentView">
	<button type="button" class="btn btn-default btn-danger" ng-click="closeTopic()">
		<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Close
	</button>
	<h2>{{currentTopic.headline}}</h2>
	<h4>{{currentTopic.headline}}</h4>
	<div class="row" id="infoTag">
		<div class="col-xs-12 col-sm-4">Predictor: {{getPredictorName(currentTopic.predictor)}}</div>
		<div class="col-xs-12 col-sm-4">Asset: {{getAssetName(currentTopic.asset)}}</div>
		<div class="col-xs-12 col-sm-4">Other info: </div>
		<div class="col-xs-12">Prediction: {{currentTopic.prediction}}</div>
		<div class="col-xs-12">Validated By: </div>
	</div>

	<div class="row" id="inputSection">
		<h5>Add your validation</h5>
		<div class="col-xs-12 col-sm-6">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Predictor</span>
			  <angucomplete id="ex1"
	              placeholder="name"
	              pause="50"
	              selectedobject="inputPost.predictor"
	              localdata="dataController.getPredictors()"
	              searchfields="commonName"
	              titlefield="commonName",
	              minlength="1"
	              inputclass="form-control form-control-small"/>
			  <!-- <input type="text" class="form-control" placeholder="Predictor" aria-describedby="basic-addon1" ng-model="currentTopic.predictor"> -->
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Asset</span>
			  <angucomplete id="ex1"
	              placeholder="asset"
	              pause="50"
	              selectedobject="inputPost.asset"
	              localdata="dataController.getAssets()"
	              searchfields="assetName"
	              titlefield="assetName",
	              minlength="1"
	              inputclass="form-control form-control-small"/>
			  <!-- <input type="text" class="form-control" placeholder="Asset" aria-describedby="basic-addon1" ng-model="currentTopic.asset"> -->
			</div>
		</div>
		<div class="col-xs-12">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Prediction</span>
			  <input type="text" class="form-control" placeholder="Prediction" aria-describedby="basic-addon1" ng-model="inputPost.prediction">
			</div>
			<button type="button" class="btn btn-default btn-success col-xs-12" ng-click="addPost(inputPost)">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
			</button>
		</div>
		
	</div>

	<div class="row validation" ng-repeat="post in currentTopic.posts">
		<div class="col-xs-12 col-sm-4">Predictor: {{getPredictorName(post.predictor)}}</div>
		<div class="col-xs-12 col-sm-4">Asset: {{getAssetName(post.asset)}}</div>
		<div class="col-xs-12 col-sm-4">Other info: </div>
		<div class="col-xs-12">Prediction: {{post.prediction}}</div>
		<div class="col-xs-12">Validated By: </div>
		<div class="row voteButtonGroup">
			<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Agree
			</button>
			<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Disagree
			</button>
		</div>
	</div>
</div>