#topics {
	position: relative;
}

#topics .actionBar {
	min-height: 50px;
	text-align: right;
	vertical-align: middle;
}

#topics .topicView {
	padding: 1em;
	margin: 1em;

	border-bottom-style: solid;
	border-bottom-color: #0288D1;
	border-bottom-width: 0.1em;
}

#topics .searchBox {
	margin: 20px;
}

#topics .topicContentView {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.95);
	top:0; bottom: 0;
	left: 0; right: 0;
	z-index: 1000;
	padding-top: 10%;
}

#topics .topicContentView h2 {
	font-size: 2em;
	font-weight: 900;
}

#topics .topicContentView h4 {
	font-size: 1.5em;
	font-weight: 300;
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom-style: solid;
	border-bottom-color: #E91E63;
	border-bottom-width: 0.1em;
}

#topics #inputSection h5 {
	font-weight: 700;
	padding-left: 2em;
	margin-top: 2em;
}

#topics #inputSection .input-group {
	margin-top: 1em;
	margin-bottom: 1em;
}

#topics #inputSection {
	padding-bottom: 2em;
	border-bottom-style: solid;
	border-bottom-color: #0288D1;
	border-bottom-width: 0.2em;
}

#topics .topicContentView #infoTag {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom-style: solid;
	border-bottom-color: #E91E63;
	border-bottom-width: 0.3em;
}

#topics h4 {
	font-size: 2em;
	font-weight: 200;
}

#topics h5 {
	font-size: 1em;
	font-weight: 400;
}

#topics .validation {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom-style: solid;
	border-bottom-color: #0288D1;
	border-bottom-width: 0.1em;
}

#topics .validation .voteButtonGroup {
	text-align: right;
}

.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #03A9F4;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 100%;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: 40px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: #03A9F4;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    height: 34px;
    width: 34px;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.topic-showMoreButton {
	width: 100%;
}