
#leaderBoardHeader h1 {
    width: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #708890;
}


#buttonList {
     width: auto;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 20px;
     margin: auto
}