<div class="container" layout="column" layout-align="center center">
  <h3>Register for a new account</h3>

  <md-content layout-padding class="registerForm">
    <br>

    <div layout="row" layout-align="space-around center" class="socialNetworkButtonGroup">
      <button type="submit" class="btn btn-info" ng-click="registerByFacebook()">Facebook</button>
      <button type="submit" class="btn btn-danger" ng-click="register()">Google +</button>
    </div>

    <br>

    <form name="registerForm">
      <md-input-container>
        <label>Email</label>
        <input type="email" required name="email" ng-model="input.email">
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input type="password" required name="password" ng-model="input.password">
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Confirm Password</label>
        <input type="password" required name="comfirmedPassword" ng-model="input.comfirmedPassword" compare-to="input.password">
        <div ng-messages="registerForm.comfirmedPassword.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message='compareTo'>Confirmed Password does not match</div>
        </div>
      </md-input-container>

      <br>

      <div layout="column" layout-align="space-around center" class="registerButtonGroup">
        <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-success" ng-click="register()">Register</button>
        <a href="/login" class="btn btn-link">Log In</a>
      </div>
    </form>
  </md-content>

  
<div>