<div class="container" layout="column" layout-align="center center">
  <h3>Register for a new account</h3>

  <md-content layout-padding class="registerForm">
    <form name="registerForm">
      <md-input-container>
        <label>Email</label>
        <input required name="email" ng-model="input.email">
        <div ng-messages="registerForm.email.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>User Name</label>
        <input required name="userName" ng-model="input.userName">
        <div ng-messages="registerForm.userName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Password</label>
        <input required name="password" ng-model="input.password">
        <div ng-messages="registerForm.password.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </form>
  </md-content>

  <div layout="row" layout-align="space-around center">
    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success" ng-click="login()">Register</button>
    <a href="/login" class="btn btn-link">Log In</a>
  </div>
<div>