<div ng-controller="statisticController">
	<div class="statistic">
		<div ng-include="'components/loader/loader.html'" ng-show="!loaded"></div>
		<div id="priceGraph"></div>
		<div id="predictorContainer"></div>
		<h1 class='noIdError' ng-show='error.nullId'>NO DATA</h1>
	</div>
	<div class="container" ng-show='!error.nullId'>
		<div class="row">
			<div class="col- col-xs-12 col-sm-6">
				<!-- predictor selector -->
				<h4>Showing predictions by:</h4>
			    <input type="text" class="form-control" placeholder="search predictor name..." ng-model='input.searchPredictoName'>

				<div>
					<div ng-repeat='predictor in predictors'>
						<md-checkbox ng-checked='predictor.showing' aria-label="predictor" ng-click='onSelectPredictor(predictor)' ng-show='isPredictorNameShown(predictor.commonName)'>
							{{predictor.commonName}}
						</md-checkbox>
					</div>
				</div>
			</div>
			<div class="col- col-xs-12 col-sm-6">
				<md-whiteframe class="md-whiteframe-z2 predictionInfo" layout="column" layout-align="center center" ng-show="currentPredictionView">
				    <h4>News: {{currentPredictionView.news.headline}}</h4>
				    <h5>Predictor: {{currentPredictionView.predictor.commonName}}</h5>
				    <h5>Checked by: {{currentPredictionView.checker.email}}</h5>
				</md-whiteframe>
			</div>
		</div>
	</div>

	<!-- Facebook Comments -->
	<div class="container">
		<div class="fb-comments" data-href="{{track.share_url}}" data-width="100%" data-numposts="10"></div>	
	</div>
</div>