<div class="container login">
	<h4>Login:</h4>
	<form name="logInForm" class="loginForm">
		<md-input-container>
	      <label>Email</label>
	      <input type="email" ng-model="input.email" required>
	    </md-input-container>
	    <md-input-container>
	      <label>Password</label>
	      <input type="password" ng-model="input.password" required>
	    </md-input-container>
    
		<button type="submit" class="btn btn-default btn-success btn-main" ng-click="logIn()" ng-disabled="logInForm.$invalid">Log In</button>		
	</form>

	<h4>Login using:</h4>
	<div layout="row" layout-align="space-around center" class="socialNetworkButtonGroup">
      <button type="submit" class="btn btn-info" ng-click="logInByFacebook()">Facebook</button>
      <button type="submit" class="btn btn-danger" ng-click="logInByGoogle()">Google +</button>
    </div>
</div>
