<div class="container login">
	<form name="logInForm">
		<md-input-container>
	      <label>Email</label>
	      <input type="email" ng-model="input.email" required>
	    </md-input-container>
	    <md-input-container>
	      <label>Password</label>
	      <input type="password" ng-model="input.password" required>
	    </md-input-container>
    
		<button type="submit" class="btn btn-default btn-success btn-main" ng-click="logIn()" ng-disabled="logInForm.$invalid">Log In</button>
		<h4>Login using:</h4>
		<div layout="row" layout-align="start center">
			<button class="btn btn-default" ng-click="logInByFacebook()"><i class="fa fa-facebook-square fa-3x"></i></button>
			<button class="btn btn-default" ng-click="logInByGoogle()"><i class="fa fa-google-plus-square fa-3x"></i></button>
		</div>
	</form>
</div>
